<gs-header>
	<p levels>Stats</p>

	<div content>
		<p>TEST</p>
	</div>
</gs-header>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<table class="cs-table table table-bordered table-striped">
				<thead>
					<tr>
						<th [class.active]="order === 'MSC'"
							(click)="setOrder('MSC')">
							MSC<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'ZAWODNIK'"
							(click)="setOrder('ZAWODNIK')">
							ZAWODNIK<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
        				<th [class.active]="order === 'KLUB'"
							(click)="setOrder('KLUB')">
							KLUB<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'SREDNIA'"
							(click)="setOrder('SREDNIA')">
							ŚREDNIA<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
        				<th [class.active]="order === 'PKT'"
							(click)="setOrder('PKT')">
							PKT<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'BON'"
							(click)="setOrder('BON')">
							BON<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
        				<th [class.active]="order === 'BIEGI'"
							(click)="setOrder('BIEGI')">
							BIEGI<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'P3'"
							(click)="setOrder('P3')">
							3<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
        				<th [class.active]="order === 'P2'"
							(click)="setOrder('P2')">
							2<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'P1'"
							(click)="setOrder('P1')">
							1<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
        				<th [class.active]="order === 'P0'"
							(click)="setOrder('P0')">
							0<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'D'"
							(click)="setOrder('D')">
							D<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
        				<th [class.active]="order === 'W'"
							(click)="setOrder('W')">
							W<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'U'"
							(click)="setOrder('U')">
							U<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
        				<th [class.active]="order === 'T'"
							(click)="setOrder('T')">
							T<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'ZW'"
							(click)="setOrder('ZW')">
							%ZW<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
        				<th [class.active]="order === 'DOM'"
							(click)="setOrder('DOM')">
							DOM<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'WYJAZD'"
							(click)="setOrder('WYJAZD')">
							WYJAZD<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
        				<th [class.active]="order === 'TORA'"
							(click)="setOrder('TORA')">
							A<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'TORB'"
							(click)="setOrder('TORB')">
							B<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
        				<th [class.active]="order === 'TORC'"
							(click)="setOrder('TORC')">
							C<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'TORD'"
							(click)="setOrder('TORD')">
							D<br>
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let rider of pgee2017 | orderBy: order:reverse; let i = index">
						<td> {{rider.MSC}} </td>
						<td> {{rider.ZAWODNIK}} </td>
						<td> {{rider.KLUB}} </td>
						<td> {{rider.SREDNIA | number:'1.3':'pl'}} </td>
						<td> {{rider.PKT}} </td>
						<td> {{rider.BON}} </td>
						<td> {{rider.BIEGI}} </td>
						<td> {{rider.P3}} </td>
						<td> {{rider.P2}} </td>
						<td> {{rider.P1}} </td>
						<td> {{rider.P0}} </td>
						<td> {{rider.D}} </td>
						<td> {{rider.W}} </td>
						<td> {{rider.U}} </td>
						<td> {{rider.T}} </td>
						<td> {{rider.ZW | percent:'2.0':'pl'}} </td>
						<td> {{rider.DOM | number:'1.3':'pl'}} </td>
						<td> {{rider.WYJAZD | number:'1.3':'pl'}} </td>
						<td> {{rider.TORA | number:'1.3':'pl'}} </td>
						<td> {{rider.TORB | number:'1.3':'pl'}} </td>
						<td> {{rider.TORC | number:'1.3':'pl'}} </td>
						<td> {{rider.TORD | number:'1.3':'pl'}} </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>