<gs-header>
	<p levels>Stats</p>

	<div content>
		<p>TEST</p>
	</div>
</gs-header>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<table class="cs-table table table-bordered table-striped">
				<thead>
					<tr>
						<th [class.active]="order === 'msc'"
							(click)="setOrder('msc')">
							msc
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
						</th>
						<th [class.active]="order === 'zawodnik'"
							(click)="setOrder('zawodnik')">
							zawodnik
							<span [hidden]="reverse">▼</span>
							<span [hidden]="!reverse">▲</span>
        				</th>
						<th>klub</th>
						<th>średnia</th>
						<th>pkt</th>
						<th>bon</th>
						<th>biegi</th>
						<th>3</th>
						<th>2</th>
						<th>1</th>
						<th>0</th>
						<th>D</th>
						<th>W</th>
						<th>U</th>
						<th>T</th>
						<th>%ZW</th>
						<th>DOM</th>
						<th>WYJAZD</th>
						<th>A</th>
						<th>B</th>
						<th>C</th>
						<th>D</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let rider of pgee2017; let i = index">
						<td> {{rider.MSC}} </td>
						<td> {{rider.ZAWODNIK}} </td>
						<td> {{rider.KLUB}} </td>
						<td> {{rider.SREDNIA | number:'1.3':'pl'}} </td>
						<td> {{rider.PKT}} </td>
						<td> {{rider.BON}} </td>
						<td> {{rider.BIEGI}} </td>
						<td> {{rider.P3}} </td>
						<td> {{rider.P2}} </td>
						<td> {{rider.P1}} </td>
						<td> {{rider.P0}} </td>
						<td> {{rider.D}} </td>
						<td> {{rider.W}} </td>
						<td> {{rider.U}} </td>
						<td> {{rider.T}} </td>
						<td> {{rider.ZW | percent:'2.0':'pl'}} </td>
						<td> {{rider.DOM | number:'1.3':'pl'}} </td>
						<td> {{rider.WYJAZD | number:'1.3':'pl'}} </td>
						<td> {{rider.TORA | number:'1.3':'pl'}} </td>
						<td> {{rider.TORB | number:'1.3':'pl'}} </td>
						<td> {{rider.TORC | number:'1.3':'pl'}} </td>
						<td> {{rider.TORD | number:'1.3':'pl'}} </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>